<?xml version="1.0" ?>
<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="initial_reset" value="true"/>
    </include>
    
    <node pkg="tas_perception" type="tas_mmdetection.py" name="tas_object" />
    <!-- <node pkg="tas_perception" type="tas_mmpose.py" name="tas_pose" /> -->
    <!-- <node pkg="tas_perception" type="tas_hand.py" name="tas_hand" />  -->
    <!-- <node pkg="tas_perception" type="tas_gaze.py" name="tas_gaze" />  -->

    <node pkg="tas_perception" type="tas_o_subscriber.py" name="tas_o_subscriber" /> 
    <!-- <node pkg="tas_perception" type="tas_h_subscriber.py" name="tas_h_subscriber" />  -->
    <!-- <node pkg="tas_perception" type="tas_p_subscriber.py" name="tas_p_subscriber" />  -->
    <!-- <node pkg="tas_perception" type="tas_hpo_integrator.py" name="tas_hpo_integrator" />  -->
    <!-- <node pkg="tas_perception" type="tas_MPF_applied.py" name="tas_MPF_applied" /> -->

</launch>